// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-primary: "Poppins", sans-serif;
$secondary_02 : rgba(255, 255, 255, .02);
$secondary_05 : rgba(255, 255, 255, .05);
$secondary_10 : rgba(255, 255, 255, .1);
$secondary_25 : rgba(255, 255, 255, .25);
$secondary : rgba(255, 255, 255, .1);
$secondary_50 : rgba(255, 255, 255, .5);
$mobile-breakpoint: 768px;

$primary : yellow;
$text-highlight: cyan;

$pastel-red: rgb(255, 179, 186);
$pastel-orange: rgb(255, 223, 186);
$pastel-yellow: rgb(255, 255, 186);
$pastel-green: rgb(186, 255, 201);
$pastel-blue: rgb(186, 225, 255);

$text-note: $pastel-blue;
$text-scrum: $pastel-orange;
$text-project: $pastel-red;
$text-notulen: $pastel-green;